.o_main_navbar {
    background-color: #043553;
    border-bottom: #043553;
    position: relative;
  }
  .o_main_navbar > a:hover,
  .o_main_navbar > a:focus,
  .o_main_navbar > button:hover,
  .o_main_navbar > button:focus,
  .o_main_navbar .show .dropdown-toggle {
    background-color: #043553;
  }

  .o_searchview .o_searchview_facet .o_searchview_facet_label {
    background-color: #043553;
  }

.btn-primary {
    background-color: #043553;
    border-color: #043553;
}
.btn-primary:hover {
    background-color: #1634b9;
    border-color: #1634b9;

}
.btn-lbx{
    background-color: #043553;
    color: aliceblue;

}
.btn-lbx:hover{
    background-color: #149635;
    color: aliceblue;

}

.btn-match{
    background-color: #043553;
    color: aliceblue;

}
.btn-match:hover{
    background-color: #ced11c;
    color: aliceblue;

}

.btn_delete_lbx {
    background-color: #043553;
    border-color: #043553;
    color: aliceblue;
}
.btn_delete_lbx:hover {
    background-color: #b31127;
    border-color: #b31127;
    color: aliceblue;

}
