/* Primary color */
:root {
  --primary-color: #043553;
  --hover-color: #ffda33; /* Yellow color for hover effects */
}

/* Navbar styles */
.o_main_navbar {
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow effect */
}

.o_main_navbar > a:hover,
.o_main_navbar > a:focus,
.o_main_navbar > button:hover,
.o_main_navbar > button:focus,
.o_main_navbar .show .dropdown-toggle {
  background-color: var(--primary-color);
}

/* Search view facet */
.o_searchview .o_searchview_facet .o_searchview_facet_label {
  background-color: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow effect */
}

/* Primary button styles */
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow effect */
}

.btn-primary:hover {
  background-color: #1634b9;
  border-color: #1634b9;
}

/* Custom buttons */
.btn-lbx {
  background-color: var(--primary-color);
  color: aliceblue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow effect */
}

.btn-lbx:hover {
  background-color: #149635;
  color: aliceblue;
}

.btn_delete_lbx {
  color: aliceblue;
  background-color: #dc3545;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow effect */
}

.btn_delete_lbx:hover {
  background-color: #b31127;
  border-color: #b31127;
  color: aliceblue;
}

.btn_match_lbx {
  color: aliceblue;
  background-color: #ced11c;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow effect */
}

.btn_match_lbx:hover {
  background-color: #b38d11;
  color: aliceblue;
}

/* Custom button styles */
.btn-custom {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
  font-size: 14px;
  line-height: 1.2;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow effect */
}

.btn-custom .btn-content {
  text-align: center;
}

.btn-custom .btn-content i {
  font-size: 24px;
  margin-bottom: 5px;
}

.btn-custom .btn-label {
  display: block;
  font-size: 14px;
}

.dashboard-container {
  background-color: rgb(13, 7, 49);
}

.order-card {
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}

.order-card:hover {
  transform: translateY(-5px);
}

.po-card-container {
  margin-top: 10px;
}

.order-card-container {
  margin-top: 10px;
}

.po-card {
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}

.po-card:hover {
  transform: translateY(-5px);
}

.dashboard-header {
  border-radius: 30px;
}

.order-chart {
  border-radius: 20px;
}

.dashboard-logo {
  width: 80px;
  height: 60px;
  margin-right: 10px;
  margin-left: 5px;
  border-radius: 20px;
}

/* Percentage Card */
.radial-progress {
  position: relative;
  width: 120px;
  height: 120px;
}

.radial-progress-svg {
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

.radial-progress-bg {
  fill: none;
  stroke: #e0e0e0;
  stroke-width: 10;
}

.radial-progress-bar {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.35s;
}

.radial-progress-bar-done {
  stroke: #4caf50;
}

.radial-progress-bar-cancelled {
  stroke: #f44336;
}

.radial-progress-bar-open {
  stroke: #2196f3;
}

/* po type per */
.po-progress-bar-rfid {
  stroke: #4caf50;
}

.po-progress-bar-main {
  stroke: #f44336;
}

.po-progress-bar-care {
  stroke: #f3de21;
}

.po-progress-bar-price {
  stroke: #2196f3;
}

/*  */
.radial-progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.radial-progress-label {
  margin-top: 8px;
  margin-bottom: 3px;
  font-size: 16px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.po_percentage_row {
  margin-left: 9px;
}

.percentage_container {
  margin-left: 9px;
}
